*,
*::after,
*::before {
    margin: 0;

}

* {
    box-sizing: border-box;
    /* border: 3px solid red; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    /* font-variation-settings: */
        /* "slnt" 0; */
    text-align: center;
    user-select: none;
}


:root {
    --header-bg-color: #6943FF;
    --light-bg-color: #F4F4F4;
    --dark-bg-color: #1F2937;
    --light-color: #FFFFFF;
    --dark-color: #273549;
    --inner-txt-light: #5A537B;
    --inner-txt-dark: #CCC1FF;
    --inner-btn-color: #3D3D3D;
    --number-border-color: #B295FF;
    --body-bg-color: #1C1C1C;
    --result-color: #353535;
    

}

body {
    background-color: var(--body-bg-color);
}

.container {
    width: 550px;
    height: 729px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    


}

.header {
    height: 285px;
    width: 550px;
    background-color: var(--header-bg-color);
    color: var(--light-color);
    border: none;
    
}
.heading {
    width: 448.4px;
    height: 38px;
    margin: 33px 51px;
    font-weight: 800;
    border: none;
 
}

h2 {
    border: none;
}

.unitbox {
    border: 2px solid var(--number-border-color);
    width: 117px;
    height: 83px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--header-bg-color);
    font-weight: 800;
    font-size: 48px;
    line-height: 24.39px;
    text-align: center;
    color: var(--light-color);
    outline: none;

}

.unitbox:hover,
 .unitbox:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }




.btn-converter {
    width: 117px;
    height: 42px;
    top: 209px;
    left: 217px;
    padding: 9px, 27.5px, 9px, 27.5px;
    border-radius: 5px;
    border-style: none;
    margin: auto;
    color: var(--inner-btn-color);
    background-color: var(--light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.btn-converter:hover,
.btn-converter:active {
    background-color: aliceblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.convertions {
    background-color: var(--light-bg-color);
    width: 550px;
    height: 444px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.convertion {
    background-color: var(--light-color);
    width: 500px;
    height: 108.57px;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--result-color);
    gap: 10px;
}

.convertion p {
    font-size: 20px;
    font-weight: 600;
    color: var(--inner-txt-light);

}
